extends ../layout/main
block variable
  - 
    var scr5 = [
      { 
        img: './assets/images/screen5/226959776.jpg',
        title: "Надійний забудовник",
        text: "З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.",},
      { title: "Дворівневий підземний паркінг",
        img: './assets/images/screen5/291632337.jpg',
      text: "З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.   ",},
      { title: "Дворівневий підземний паркінг",
        img: './assets/images/screen5/291632337.jpg',
      text: "З віком запитів стає набагато більше: вид з вікна, привітні сусіди, безпечні майданчики для дітей, супермаркети на першому поверсі, хімчистки, ресторани, пекарні, кафе в будинку, місце для машини.   ",},
    ];
    var genplanList = [
      {icon: 'park',text: 'Зелені зони',},
      {icon: 'man',text: 'Пішохідні маршрути, що виключають рух автомобілів',},
      {icon: 'bycicle',text: 'На мікромобільному транспорті',},
      {icon: 'auto',text: 'Автомобілем',},
    ]
block meta
  title= 'Главная'
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/index-app.bundle.js')
  script(defer src='./assets/scripts/home.bundle.js')
block content
  .main-screen 
    .main-screen__text
      .title 
        .text-white Central Park – 
        .text-beige.fw-300 затишок в дрібницях 
      p.subtitle.text-white Група «Еталон» з гордістю представляє масштабний проект у центрі Вінниці. Це місто в місті, яке не підлаштовується під старі рамки.
      button.button.button--dark 
        +svg('key')
        span Обрати квартиру
    +img('screen1.png').main-screen__render
    +img('screen1-clouds.png').main-screen__cloud-1
    +img('screen1-clouds-2.png').main-screen__cloud-2
  .screen2 
    .img-with-logo
      +svg('logo-mini').img-with-logo__decor
      .img-with-logo__wrap
        +img('screen2/Rectangle 3967.jpg')
    .screen2__text 
      .title-h2.text-black Про проєкт
      p Forest Home запустив віртуальні шоуруми найпопулярніших планувань у будинку, щоб при виборі помешкання ви могли побачити розташування кімнат і навіть оцінити вид з вікон.  віртуальні шоуруми найпопулярніших планувань у будинку, щоб при виборі помешкання.
      button(type="button" class="button button--dark with-hover") 
        .button__hover 
        span Дізнатися більше
    .img-with-logo
      +svg('logo-mini').img-with-logo__decor
      .img-with-logo__wrap
        +img('screen2/212518407.jpg')
  -
    var slides = [
      { img: './assets/images/screen3/251624276_prev_url=detail.jpg',text: '2,4 гаплоща забудови', },
      { img: './assets/images/screen3/Rectangle 3962.jpg',text: '5 будівель різної висоти ', },
      { img: './assets/images/screen3/Rectangle 3962-1.jpg',text: '10 секцій у кожному будинку', },
      { img: './assets/images/screen3/Rectangle 3962-2.jpg',text: '178 квартир у першій будівлі ', },
      { img: './assets/images/screen3/Rectangle 3962-3.jpg',text: '650 паркомісць у паркінгу', },
      //- { img: '',text: '10 поверхів', },
    ];
  .screen3
    .section-decor
      +svg('logo-mini')
    .screen3__top
      .title-h2.text-beige комплекс у цифрах
      div(data-screen3-prev)
        <svg  width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="40" cy="40" r="39.5" fill="#464851"  stroke="#464851"/>
          <path d="M35.1896 32C33.7584 34.1224 28.3358 40 27 40M27 40C28.3517 40 33.5994 45.4694 35.1896 48M27 40L53 40" stroke="#E5CDB7"/>
          </svg>
      div(data-screen3-next)
        <svg  width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="40" cy="40" r="39.5" fill="#464851" stroke="#464851"/>
          <path d="M44.8104 32C46.2416 34.1224 51.6642 40 53 40M53 40C51.6483 40 46.4006 45.4694 44.8104 48M53 40L27 40" stroke="#E5CDB7"/>
          </svg>
    .zoom-slider-wrapper
      .zoom-slider.swiper-wrapper
        each val in slides 
          .slide.swiper-slide
            img(src=val.img)
            div #{val.text}
          .slide.swiper-slide
            img(src=val.img)
            div #{val.text}
  .screen4
    .section-decor
      +svg('logo-mini')
    .screen4__inner
      .screen4__title 
        div ДИВИТИСЯ 
        div ВІДЕО
      .screen4__video(data-screen4-video)
        <svg class="screen4__video-play" width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="50" cy="50" r="50" fill="#23242B"/>
          <path d="M44 63V37L63 50L44 63Z" fill="white"/>
          </svg>
        video(poster="./assets/images/screen4/poster.jpg")
  .screen5()
    .screen5__inner
      .section-decor
        +svg('logo-mini')
      .title-h2.text-beige Переваги 
      .screen5-hor-block
        each val, index in scr5
          .screen5-hor-block__item
              img(src=val.img)
              .screen5-hor-block__item-text
                .title.text-beige #{val.title}
                p.text-beige #{val.text}
                div.text-beige #{index + 1} / #{scr5.length}
  .screen6().genplan
    .genplan__inner
      .genplan__text
        .title-h2.text-black Продумані маршрути
        .genplan__text-block-wrapper
          .genplan__text1
            p Forest Home запустив віртуальні шоуруми найпопулярніших планувань у будинку, щоб при виборі помешкання ви могли побачити розташування кімнат і навіть оцінити вид з вікон.  віртуальні шоуруми найпопулярніших планувань у будинку, щоб при виборі помешкання.
            a(class="button button--dark with-hover") 
              .button__hover
              span Хід будівництва
          ul.genplan__text2.genplan__list
            each val in genplanList
              li 
                +svg(val.icon)
                div #{val.text}
      .genplan__img
        picture
          source(srcset='./assets/images/screen6/genplan-tablet.jpg' media="(max-width: 992px)")
          img(src='./assets/images/screen6/genplan.jpg' alt="MDN" data-screen1-paralax)
  .screen7
    .section-decor
      +svg('logo-mini')
    .title-h2.text-beige галерея
    .screen7__content
      .screen7__faded-title
          .screen7-title.text-beige Пориньте у атмосферу житлового комплексу
          a.button.with-hover(href="#") 
            .button__hover 
            span Дивитися галерею
      .screen7__left-block
        img(src="./assets/images/screen7/Rectangle 3718.jpg")
        img(src="./assets/images/screen7/Rectangle 3719.jpg")
      .screen7__head-block
        .screen7__head-block-text
        img(src="./assets/images/screen7/Rectangle 3717.jpg").screen7__head-image
      .screen7__right-block
        img(src="./assets/images/screen7/199325606.jpg")
        img(src="./assets/images/screen7/Rectangle 3720.jpg")
        img(src="./assets/images/screen7/156099814.jpg")
  .screen8 
    //- 216397374.jpg
    //- 277900885.jpg
    //- 469189703.jpg
    .section-decor
      +svg('logo-mini')
    .img-left
      img(src="./assets/images/screen8/216397374.jpg")
      img(src="./assets/images/screen8/logo-gradient-style.png").img-left__decor
    .img-center
      img(src="./assets/images/screen8/277900885.jpg")
    .img-right
      img(src="./assets/images/screen8/469189703.jpg")
      img(src="./assets/images/screen8/logo-gradient-style.png").img-right__decor
    .screen8__text 
      .title.text-beige Обрати квартиру
      p.text-white Група «Еталон» з гордістю представляє масштабний проект у центрі Вінниці. Це місто в місті, яке не підлаштовується під старі рамки, а задає нову планку та стандарт житлового району.
      a.button.button--dark.with-hover(href="#") 
        +svg('key')
        .button__hover
        span обрати квартиру
    .screen8__render
      img(src="./assets/images/screen8/render.png")
  include home/screen9.pug
  include home/screen10.pug
  include home/screen11.pug



block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
